@font-face {
  font-family: "toutiao"; /* Project id 3518502 */
  src: url('iconfont.woff2?t=1657884695232') format('woff2'),
       url('iconfont.woff?t=1657884695232') format('woff'),
       url('iconfont.ttf?t=1657884695232') format('truetype');
}

.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toutiao-zufang:before {
  content: "\e61a";
}

.toutiao-xiajiantou:before {
  content: "\eb6d";
}

.toutiao-ditu:before {
  content: "\e8ad";
}

.toutiao-ditu1:before {
  content: "\e61b";
}

.toutiao-youjiantou1:before {
  content: "\e600";
}

.toutiao-yinhangqia-xianxing:before {
  content: "\e936";
}

.toutiao-kefu:before {
  content: "\e625";
}

.toutiao-gengduo:before {
  content: "\e605";
}

.toutiao-dianzan:before {
  content: "\e606";
}

.toutiao-fenxiang:before {
  content: "\e607";
}

.toutiao-guanbi:before {
  content: "\e608";
}

.toutiao-lishi:before {
  content: "\e609";
}

.toutiao-pinglun:before {
  content: "\e60a";
}

.toutiao-sousuo:before {
  content: "\e60b";
}

.toutiao-dianzan2:before {
  content: "\e60c";
}

.toutiao-shouji:before {
  content: "\e60d";
}

.toutiao-shouye:before {
  content: "\e60e";
}

.toutiao-shanchu:before {
  content: "\e60f";
}

.toutiao-wenda:before {
  content: "\e610";
}

.toutiao-shoucang:before {
  content: "\e611";
}

.toutiao-wode:before {
  content: "\e612";
}

.toutiao-shipin:before {
  content: "\e613";
}

.toutiao-wuwangluo:before {
  content: "\e614";
}

.toutiao-zuojiantou:before {
  content: "\e615";
}

.toutiao-yanzhengma:before {
  content: "\e616";
}

.toutiao-yuedu:before {
  content: "\e617";
}

.toutiao-youjiantou:before {
  content: "\e618";
}

.toutiao-zuopin:before {
  content: "\e619";
}

